<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>DESAFIO 3</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />

    <script src="{{ url_for('static', filename='js/uikit.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    
  </head>
  <body>
    <div class="uk-position-relative">
      <img src="{{ url_for('static', filename='imgs/coding2.gif') }}" width="1800" height="1200" alt="">
      <div class="uk-position-top">
          <nav class="uk-navbar-container uk-navbar-transparent">
              <div class="uk-container">
                  <div uk-navbar>

                      <div class="uk-navbar-left">
                          <ul class="uk-navbar-nav">
                              <li><a href="#">Active</a></li>
                              <li><a href="#">Item</a></li>
                              <li><a href="#">item</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
      
      <div class="uk-overlay uk-position-center-right uk-light uk-animation-toggle" tabindex="0" uk-scrollspry="cls: uk-animation-scale-up; repeat: true">
                        <h1 class="uk-heading-medium uk-text-bold" style="color: navy">ANIME</h1>
                        <p class="uk-text-center" style="color: navy">Mais outro site</p>
                      </div>
    </div>
    <h1 class="tektur-bold-normal">Pagina do Desafio 3</h1>
    <p>Este site foi feito em ambito do desafio 3 da turma TGPSI24
      com o objetivo de armazenar documentos, criar e entrar em contas
      e diferenciar utilizadores normais de admins</p>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('signup') }}">Sign up</a>
  </body>
</html>
